body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('pong\ game.webp'); /* Update this path */
  background-size: cover;
  background-position: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3e8e41;
}

.control {
  text-align: center;
}

canvas {
  background: #000000;
}
h1 {
  font-size: 3em;
  margin-top: 20px;
  color: #f2fa00;
}